		<div class="left_body_wrap">
			<div class="left_body_main">
				<div class="main_wrap">
					<p class="busniess_text">The Best BLOG To Learn JAVA At MyToshika.</p>
							<div class="row">
								<div class="col-md-12">
								
								<h2 class="green_text">Core Java</h2>
								<div class="col-md-6">
								
									<a href="https://mytoshika.com/blog/how-to-install-setup-java-on-windows/"target="_blank">
										<i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>How to Install & Setup Java on Windows</a>
										
								</div>
								<div class="col-md-6">
									<a href="https://mytoshika.com/blog/jvm-java-virtual-machine-architecture/"target="_blank">
									<i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>JVM (Java Virtual Machine) Architecture</a>
										
								</div>
								<div class="col-md-6">
									<a href="https://mytoshika.com/blog/features-of-java/"target="_blank">
									<i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Features of Java</a>
										
								</div>
								<div class="col-md-6">
									<a href="https://mytoshika.com/blog/java-hello-world-program/"target="_blank">
									<i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>First Java Program</a>
										
								</div>
									<div class="col-md-6">
									<a href="https://mytoshika.com/blog/175/"target="_blank">
									<i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Java Class and Object</a>		
								</div>
								
									<div class="col-md-6">
									<a href="https://mytoshika.com/blog/data-types-in-java/"target="_blank">
									<i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Data Type In JAVA</a>		
								</div>
								
								<div class="col-md-6">
									<a href="https://mytoshika.com/blog/types-of-variables/"target="_blank">
									<i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Types Of Variables</a>
										
								</div>
								<div class="col-md-6">
									<a href="https://mytoshika.com/blog/java-method/"target="_blank">
									<i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Java Method</a>
										
								</div>
								<div class="col-md-6">
									<a href="https://mytoshika.com/blog/153/"target="_blank">
										<i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Constructor in Java</a>
										
								</div>
								<div class="col-md-6">
									<a href="https://mytoshika.com/blog/157/"target="_blank">
										<i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Java Access Modifiers</a>
										
								</div>
								<div class="col-md-6">
									<a href="https://mytoshika.com/blog/java-static-keyword/"target="_blank">
										<i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Java static keyword</a>
										
								</div>
								<div class="col-md-6">
									<a href="https://mytoshika.com/blog/java-thread/"target="_blank">
										<i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Java Thread</a>
										
									</div>
								<div class="col-md-6">
									<a href="https://mytoshika.com/blog/inheritance-in-java/"target="_blank">
										<i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Inheritance in Java</a>
										
										</div>
								<div class="col-md-6">
									<a href="https://mytoshika.com/blog/polymorphism-in-java/"target="_blank">
										<i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Polymorphism in Java</a>
										
										</div>
								<div class="col-md-6">
									<a href="https://mytoshika.com/blog/encapsulation-in-java/"target="_blank">
										<i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Encapsulation in Java</a>
										
										</div>
								<div class="col-md-6">
									<a href="https://mytoshika.com/blog/java-abstraction/"target="_blank">
										<i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Java Abstraction</a>
										
										</div>
								<div class="col-md-6">
									<a href="https://mytoshika.com/blog/exception-handling-in-java/"target="_blank">
										<i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Exception Handling in Java</a>
										
											</div>
								<div class="col-md-6">
									<a href="https://mytoshika.com/blog/wrapper-class-in-java/"target="_blank">
									<i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Wrapper class in Java</a>
										
											</div>
								<div class="col-md-6">
									<a href="https://mytoshika.com/blog/packages-in-java/"target="_blank">
									<i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Packages In Java</a>
										
											</div>	
								<div class="col-md-6">
									<a href="https://mytoshika.com/blog/java-input-output/"target="_blank">
									<i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Java Input/Output</a>
										
										</div>
								<div class="col-md-6">
									<a href="https://mytoshika.com/blog/string-handling-in-java/"target="_blank">
									<i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>String handling  in java</a>
											</div>		
							</div>
							</div>
							<div>
							<div class="row">
								<div class="col-md-12">
							<h2 class="green_text">Advance Java</h2>
							
							<div class="col-md-6">
									<a href="https://mytoshika.com/blog/collections-in-java/"target="_blank">
									<i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Collections in Java</a>			
											</div>
								<div class="col-md-6">
									<a href="https://mytoshika.com/blog/java-jdbc/"target="_blank">
									<i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Java JDBC</a>
										
										</div>
								<div class="col-md-6">
									<a href="https://mytoshika.com/blog/servlet-life-cycle/"target="_blank">
									<i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Servlet Life Cycle</a>
										
											</div>
								<div class="col-md-6">
									<a href="https://mytoshika.com/blog/httpservlet-class/"target="_blank">
									<i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>HttpServlet class</a>
										
											</div>
							</div>
							
						</div>
						<div>
						<br><br>
						</div>
			

