 <div class="left_body_wrap">
      <div class="left_body_main">
        <div class="main_wrap">
          <p class="busniess_text">Welcome to MyToshika creative</p>
            <span style="line-height:18px;">Getting a job is as difficult as beating the crowed because being in the corporate world demands a lot from the applicant because of which the applicants
             are putting their best, which results in the increment of difficulty level.<br /><br /> You can see each and every thing is connected but the solution of this problem is either spending years to reach to 
             a desired position or come to MyToshika. At MyToshika we provide the entire necessary computer training which helps the students and also the experienced workers so that they can achieve better 
             recognition in this competitive world.</span>

			<p class="busniess_text"><br />HOW MyToshika IS HELPFUL?</p>

            <span style="line-height:18px;">Training industry at MyToshika you will be offered varieties programs but the instructors makes the difference and make MyToshika stand out from others.
             We have a variety of skilled and trained trainers whose approach is different which you can see anywhere. <br /><br /> MyToshika contributes a lot to the knowledge of its trainees and we try our level hard
              to contribute the best to increase our trainee ability so that they stand out from others and whatever they contribute to the corporate world automatically becomes productive.<br /><br /> 
              Not only the fresher but also the corporate who are not able to deal with the rising technology and software are also helped here. Our motto is to deliver the best services to you and 
              that is why we have taken the customized approach because we do not want you to compromise.</span><br />

            <p style="line-height:18px;">It is not necessary that you have to leave your job in order to make-up with us. You can contact our experts and can get the best result. To serve you we are always at your service, you can contact us as and when you get time and clear your queries.</p>
            
          <p class="busniess_text">TYPE OF SERVICES OFFERED AT MyToshika</p>
          <p style="line-height:18px;">MyToshika provides the best available programs which helps in enhancing the technical skills which seems to be beneficial for all the applicants.</p>
          
          <div class="watch_main_wrap">
            <div class="watch_wrap"><img src="images/pic1.jpg" alt="Software Development" class='img-responsive' /></div>
            <div class="watch_wrap1">
              <p class="nulla">Software Development:</p>
                <span style="line-height:18px;">MyToshika provide the best and latest JAVA software training which helps all the fresher and the corporate to understand well and give them the JAVA knowledge to go hand in hand with the latest JAVA technologies. This does not only helps the companies but also increases the self-level to deal with all the necessary software.</span>
            </div>
          </div>
          <div class="watch_main_wrap">
            <div class="watch_wrap"><img src="images/pic2.jpg" alt="Workshops and Placement Service" class='img-responsive' /></div>
            <div class="watch_wrap1">
              <p class="nulla">Workshops and Placement Service:</p>
                <span style="line-height:18px;">At MyToshika, workshops are held to increase the understanding level because theoretical values are always not enough and workshops helps in getting the practical knowledge which results in better understanding. As everything leads to the placement because if the institute does not provide placement services then it is ultimately bad for the applicants but we provide the best placement services and for that we give our best to give you the best.</span>
            </div>
          </div>
        </div>
      </div>
</div>
