<div class="left_body_wrap">
      <div class="left_body_main">
        <div class="main_wrap">

          <p class="busniess_text">CAMPUS TRAINING At MyToshika:</p>
            <p class="green_text">Come as Student, Go as Java Developer!</p>
            <p style="line-height:18px;">
            	The level of competition is rising daily and because of which the pressure as well. The feeling of competition is so high that even in the market place where you have to buy or sell goods; you have to face lots to competition. </p>
            <p style="line-height:18px;">	
            	 Children are getting pressurized on daily basis because they find it difficult to meet the demands of school and after schooling they face lots of competition in their college life. Whole life goes in competing with each other but the point where the competition goes to its peak is the placement time.
            </p>

             <p style="line-height:18px;">Every student has different caliber but the placement process has few concept based on which they are chosen. When a student gets placed he has dual feeling one of happiness and other of fear; happy because from now onwards he is a professional and he is capable enough to handle his own expenditures and fearful because he is not aware of the environment he will get there and how he should react towards them.
            </p>
            
            </div>
          </div>

</div>

