<div class="left_body_wrap">
      <div class="left_body_main">
        <div class="main_wrap">
          <p class="busniess_text">Classroom Training At MyToshika:</p>
            <p class="green_text">It gives you hands-on, interactive with expert instructors!</p>
            
            <p style="line-height:18px;">MyToshika Classroom Training gives you hands-on, interactive learning with expert instructors. Solidify your understanding through practice exercises. 
            Classroom training has been the foundation of employee and client for years. 
            <br /><br />Many participants learn best and have the greatest opportunity for retention when they learn from a live instructor in a classroom setting. 
            Classroom training affords the opportunity to incorporate various learning principles, including lectures, demonstrations, hands-on workshops, and retention quizzes.</p>

            </div>
          </div>

</div>

