<div class="left_body_wrap">
      <div class="left_body_main">
        <div class="main_wrap">

          <p class="busniess_text">Corporate Training At MyToshika:</p>
            <p class="green_text">We understand the requirement of Corporate World!</p>
            <p style="line-height:18px;">MyToshika provides corporate Java training solutions to some of India's largest private, public and Government organizations. We serve clients in Various sectors such as information technology, financial services, telecommunications, professional services. MyToshika corporate is proud of its ability to assess learning needs and develop and deliver training solutions to support and enhances return on learner's training investments.</p>
            <p style="line-height:18px;">MyToshika envisages strengthening its training base on industry scenario and technology development issues, developing its training capabilities. it further acts as an interface with software companies to promote exchange of innovations, training methodologies, design on training curriculum and monitoring the software industry trends, country wide.</p>

            <p style="line-height:18px;">MyToshika corporate has been offering software training, drawn from experience in research, training and facilitation in the areas of process improvement, product engineering, quality and knowledge management. Our holistic approach to process improvement training is based on the objective of integrating people, process, and technology, which are critical to the performance of a trainee.</p>

            </div>
          </div>

</div>

