<div class="left_body_wrap">
      <div class="left_body_main">
        <div class="main_wrap">
          <p class="busniess_text">Java TRAINING Program at MyToshika.</p>

			<ul class='coursesMenu' style="line-height:18px;">
				<li><a href="#sixMonth">JAVA SIX MONTH TRAINING PROGRAM</a></li>
				<li><a href="#sixWeek">JAVA SIX WEEK TRAINING PROGRAM</a></li>
				<li><a href="#javaJ2ee">JAVA J2EE TRAINING PROGRAM</a></li>
				<li><a href="#springHibernate">JAVA SPRING and HIBERNATE TRAINING PROGRAM</a></li>
				<li><a href="#javaAndroid">JAVA WITH ANDROID(SIX WEEK) TRAINING PROGRAM</a></li>
			</ul>
        
        <div id="#sixMonth" class='marginTopTwenty'>
          <p class="busniess_text">JAVA SIX MONTHS TRAINING PROGRAM</p>
            <p class="green_text">STRONG FOUNDATION IS VERY IMPORTANT FOR STRONG BUILDING</p>
            <span style="line-height:18px;">6 MONTHS JAVA TRAINING is very popular course at MyToshika. This course has the perfect mix of contents to prepare the participants to become a Java developer 
            or programmer. Equipped with Java Training from MyToshika will open a flood gates of opportunities for the participants. The major reasons are the technology itself and the course content. 
            JAVA is used for developing web based and non-web based application and even for programming for mobile device. This makes it a very powerful and sought after technology. 
            Therefore, there is lot of demand for qualified professionals in the field.</span>
            
 <div class="row">
   <div class="col-md-12">
      <div class="col-md-6">
         <h2 class="green_text">Introduction to JAVA</h2>
         <ul>
            <li ><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Programming language Types and Paradigms.</li>
            
            <li ><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i> Computer Programming Hierarchy.
               
            </li>
            
            <li ><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Why Java?</li>
             
            <li ><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Overview of Java</li>
            
            <li ><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Differences between C++ and Java</li>
            
            <li ><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Characteristics of Java</li>
            
            <li ><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Architecture</li>
            
            <li ><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Programming with Java</li>
             
            <li ><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Flavors of Java.</li>
            
            <li ><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Java Designing Goal.</li>
            
            <li ><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i> Role of Java Programmer in Industry.</li>
            
            <li ><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i> JVM The heart of Java</li>
            
            <li ><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Features of Java Language.</li>
            
            <li ><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i> Java Magic Bytecode</li>
            
            <li ><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Use and Benefits of Inheritance in OOP</li>
            
            <li ><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Types of Inheritance in Java</li>
            
            <li ><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i> Inheriting Data Members and Methods</li>
            
            <li ><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Polymorphism. </li>
             
            <li ><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Role of Constructors in inheritance</li>
            
            <li ><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i> Type Compatibility and Conversion</li>
               
            <li ><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Overriding Super Class Methods</li>
            
            <li ><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i> Use of This & Super keyword.</li>
            
         </ul>
         <h2 class="green_text">JAVA Basics with Classes Interfaces &amp; Packages</h2>
         <ul>
            <li ><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Tokens</li>
            
            <li ><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Expressions</li>
            
            <li ><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Using Data Types</li>
            
            <li ><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Declarations</li>
            
            <li ><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Control Flow</li>
            
            <li ><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Introduction to Classes</li>
            
            <li ><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Objects</li>
            
            <li ><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Packages</li>
            
            <li ><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Inheritance &amp; Interfaces</li>
            
            <li ><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Object Oriented</li>
            
            <li ><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Platform Independent</li>
            
            <li ><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Automatic Memory Management</li>
            
            <li ><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Compiled / Interpreted approach</li>
            
            <li ><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Robust</li>
            
            <li ><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Secure</li>
            
            <li ><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Dynamic Linking</li>
            
            <li ><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>MultiThreaded</li>
            
            <li ><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Built-in Networking</li>
            
            <li ><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Java Fundamentals</li>
            
            <li ><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Data types</li>
            
            <li ><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Operators</li>
            
            <li ><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Control Statements</li>
            
            <li ><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Arrays</li>
            
            <li ><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Enhanced for-loop</li>
            
            <li ><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Enumerated types</li>
            
            <li ><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Static import</li>
            
            <li ><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Auto boxing</li>
            
            <li ><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>C-style formatted I/O</li>
            
            <li ><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Variable arguments</li>
            
            <li ><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Essentials of Object-Oriented Programming</li>
            
            <li ><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Object and Class Definition</li>
            
            <li ><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Inheritance and Polymorphism</li>
            
            <li ><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Writing Java Classes</li>
            
            <li ><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Encapsulation</li>
            
            <li ><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Polymorphism</li>
            
         </ul>
         <h2 class="green_text">JAVA Streams Training</h2>
         <ul>
            <li ><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Introduction</li>
            
            <li ><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Data Flow with Java Streams</li>
            
            <li ><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>I/P Streams &amp; O/P Streams</li>
            
         </ul>
         <h2 class="green_text">Exception Handling in JAVA</h2>
         <ul>
            <li ><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Introduction to Exception Handling</li>
            
            <li ><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Exception Methodology</li>
            
            <li ><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>java.lang Exceptions</li>
            
         </ul>
         <h2 class="green_text">JAVA Threads Classes</h2>
         <ul>
            <li ><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Introduction to Java Threads</li>
            
            <li ><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Creating Threads</li>
            
            <li ><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>The Life Cycle of a Thread</li>
            
            <li ><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Thread Methodology</li>
            
            <li ><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Synchronization of Threads</li>
            
         </ul>
         <h2 class="green_text">Introduction to Net Beans IDE</h2>
         <ul>
            <li ><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>How to Developing project in Eclipse Features of IDE</li>
            
            <li ><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>GUI Development in Eclipse</li>
            
         </ul>
         <h2 class="green_text">JAVA Applets Training</h2>
         <ul>
            <li ><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>What is JAVA Applet</li>
            
            <li ><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Applet Class</li>
            
            <li ><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Stages of an Applet’s Life Cycle</li>
            
            <li ><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Methodology for Adding UI Components</li>
            
            <li ><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Drawing and Event Handling Methods</li>
            
         </ul>
         <h2 class="green_text">Java Networking Training</h2>
         <ul>
            <li ><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Networking programming</li>
            
            <li ><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Handling TCP/IP Add</li>
            
         </ul>
         <h2 class="green_text">JAVA AWT Classes</h2>
         <ul>
            <li ><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Introduction</li>
            
            <li ><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Control Classes</li>
            
            <li ><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Variable Assignment</li>
            
            <li ><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Operators</li>
            
            <li ><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Objects</li>
            
            <li ><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Arrays</li>
            
            <li ><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Loops and Conditionals</li>
            
            <li ><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Class Definitions</li>
            
            <li ><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Method and Constructor Definitions</li>
            
            <li ><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Importing</li>
            
            <li ><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Guarding</li>
            
         </ul>
         
         <h2 class="green_text">Java Swings class</h2>
         <ul>
            <li ><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Introduction</li>
            
            <li ><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Advance GUI Designing</li>
            
            <li ><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Basic Swing Controls</li>
            
            <li ><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Advance Controls (Jo ptionPane/JTree/JTable/JTabbedPane/JscroolPane)</li>
            
            <li ><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Advance GUI Designing</li>
            
            <li ><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i> Exception Handling</li>
            
            <li ><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i> The Idea behind Exception</li>
            
            <li ><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i> Parameters to Applet</li>
              
            <li ><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Exceptions &amp; Errors</li>
            
            <li ><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Types of Exception&gt;</li>
            
            <li ><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i> Control Flow In Exceptions</li>
            
            <li ><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i> JVM reaction to Exceptions</li>
            
            <li ><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Use of try, catch, finally, throw, throws</li>
            
            <li ><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i> In-built and User Defined Exceptions</li>
            
            <li ><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i> Checked and Un-Checked Exceptions</li>
             
            <li ><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i> Multithreading Programming in java</li>
            
            <li ><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i> Intro to Java API.</li>
            
            <li ><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i> String &amp; String Buffer Class in java.</li>
            
            <li ><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i> Wrapper Class and application</li>
            
            <li ><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i> I/O Basics in java</li>
            
            <li ><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i> Applets in java</li>
            
            <li ><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i> Applet &amp; Application</li>
            
         </ul>
         
         </div>
         <div class="col-md-6">
         <h2 class="green_text">Servlet Overview</h2>
         <ul>
            <li ><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Why Content Providers</li>
            
            <li ><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Introduction to Servlet</li>
            
            <li ><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Basics of Web</li>
            
            <li ><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Servlet API</li>
            
            <li ><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i> Servlet Interface</li>
            
            <li ><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Generic Servlet</li>
            
            <li ><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Http Servlet</li>
            
            <li ><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Servlet Life Cycle</li>
            
            <li ><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Working with Apache Tomcat Server</li>
            
            <li ><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Steps to create a servlet in Tomcat</li>
            
            <li ><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>How servlet works? </li>
            
            <li ><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>servlet in Myeclipse</li>
            
            <li ><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>ervlet in Eclipse servlet in Netbeans</li>
            
         </ul>
         <h2 class="green_text">Servlet Request And Collaboration</h2>
         <ul>
            <li ><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Introduction</li>
            
            <li ><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>ServletRequest methodology</li>
            
            <li ><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Request Dispatcher</li>
            
            <li ><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>send Redirect</li>
            
         </ul>
         <h2 class="green_text">Servlet Config And Servlet Context</h2>
         <ul>
            <li ><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Servlet Config methods &amp; examples</li>
            
            <li ><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Servlet Context methods &amp; example</li>
            
         </ul>
         
         </div>
         <div class="col-md-6">
         <h2 class="green_text">Session Tracking and Filter</h2>
         <ul>
            <li ><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Cookies </li>
            
            <li ><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Hidden Form Field </li>
            
            <li ><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>URL Rewriting</li>
            
            <li ><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Http Session</li>
            
            <li ><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i> Filter</li>
            
            <li ><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Authentication Filter</li>
            
            <li ><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Filter Config</li>
            
         </ul>
         <h2 class="green_text">JavaMail API Training</h2>
         <ul>
            <li ><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Sending Email</li>
            
            <li ><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>ending email through Gmail server</li>
            
            <li ><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Receiving Email,</li>
            
            <li ><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Sending HTML content</li>
            
         </ul>
                  
         </div>
         <div class="col-md-6">
         <h2 class="green_text">JSP Practice Classes</h2>
         <ul>
            <li ><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Introduction</li>
            
            <li ><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>JSP Fundamentals</li>
            
            <li ><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Scripting elements</li>
            
            <li ><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i> Implicit Objects</li>
            
            <li ><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Directive Elements &amp; Exception Handling Action Elements</li>
            
            <li ><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Expression Language</li>
            
            <li ><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>MVC in JSP</li>
            
         </ul>
         <h2 class="green_text">JSTL Tag Training</h2>
         <ul>
            <li ><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Introduction to Custom Tag</li>
            
            <li ><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Custom Tag API</li>
            
            <li ><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Attributes</li>
            
            <li ><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i> Iteration</li>
            
         </ul>
         <h2 class="green_text">Design Pattern Training</h2>
         <ul>
            <li ><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Introduction</li>
            
            <li ><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Singleton</li>
            
            <li ><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>DAO ,DTO, MVC</li>
            
            <li ><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i> Front Controller Factory Method etc</li>
            
         </ul>
         
         </div>
         <div class="col-md-6">
         <h2 class="green_text">JUnit and Maven</h2>
         <ul>
            <li ><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Introduction to JUnit</li>
            
            <li ><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Types of Testing Annotations used in JUnit Assert class Test Cases</li>
            
            <li ><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>ntroduction to Maven</li>
            
            <li ><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Ant Vs Maven</li>
            
            <li ><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Maven installation</li>
            
            <li ><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Maven Repository</li>
            
            <li ><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Understanding pom</li>
            
            <li ><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>xml</span></li>
            <li ><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Maven Web App Example Maven using Eclipse</li>
            
         </ul>
                  
         </div>
         <div class="col-md-6">
         <h2 class="green_text">Struts2 Best Training</h2>
         <ul>
            <li ><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Introduction to Struts2</li>
            
            <li ><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Model1 vs Model2</li>
            
            <li ><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Struts2 Features Steps to create Struts2 application</li>
            
            <li ><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Understanding Action class</li>
            
            <li ><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Understanding struts.xml file Struts2 in Eclipse IDE Struts2 in Myeclipse IDE</li>
            
            <li ><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Core Component &amp; Archirecture</li>
            
            <li ><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Action, Configuration</li>
            
            <li ><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Interceptors, Validation</li>
            
         </ul>
         <h2 class="green_text">Servers Training</h2>
         <ul>
            <li ><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Apache Tomcat</li>
            
            <li ><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Glassfish Server</li>
            
            <li ><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>JBoss Server</li>
            
            <li ><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Weblogic Server</li>
            
         </ul>
         <h2 class="green_text">JavaEE Training</h2>
         <ul>
            <li ><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Introduction to JavaEE</li>
            
            <li ><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Requirments</li>
            
            <li ><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>JavaEE Architecture</li>
            
            <li ><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>1 tier ,2 tier ,3 tier ,N tier JavaEE Key Standards</li>
            
         </ul>
         
         </div>
         <div class="col-md-6">
         <h2 class="green_text">Introduction to EJB3</h2>
         <ul>
            <li ><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>The EJB Model</li>
            
            <li ><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>,Key Services of the Application Server</li>
            
         </ul>
         <h2 class="green_text">Developing Session Beans</h2>
         <ul>
            <li ><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Introduction</li>
            
            <li ><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Stateless Session Beans</li>
            
            <li ><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Stateful Session Beans</li>
            
            <li ><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Packaging Writing Clients</li>
            
         </ul>
         <h2 class="green_text">Using Dependency Injection</h2>
         <ul>
            <li ><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>No More JNDI</li>
            
            <li ><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Injection of EJBContext</li>
            
         </ul>
                  
         </div>
         <div class="col-md-6">
         <h2 class="green_text">JMS Class Training</h2>
         <ul>
            <li ><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>JMS Overview</li>
            
            <li ><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>JMS Messaging Domains</li>
            
            <li ><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Example of JMS using Queue</li>
            
            <li ><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Asynchronous Messaging</li>
            
            <li ><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Message Oriented Middleware</li>
            
            <li ><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Types of Messaging Architecture</li>
            
            <li ><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Objectives</li>
            
            <li ><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Point to Point Model</li>
            
            <li ><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>What is JMS API?</li>
            
            <li ><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>JMS Message Selectors</li>
            
            <li ><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Consuming Messages from Topics</li>
            
            <li ><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Subscriptions</li>
            
            <li ><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Creating Durable Subscriptions</li>
            
            <li ><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Durable Unshared Subscription</li>
            
            <li ><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Message Distribution</li>
            
            <li ><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Simple Consumer Program</li>
            
            <li ><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Simple Producer Program</li>
            
            <li ><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>JMS Administrated Objects</li>
            
            <li ><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i><span>JMS Connection Factories</span></span></li>
            
            <li ><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>I/O Operations in Java</li>
            
         </ul>
      </div>

   </div>
  </div>
            
            
             <span style="line-height:18px;"><br /><br />The JAVA IN 6 MONTHS course at MyToshika prepares the participants to leverage this demand by making them 
            conceptually and practically strong in the technology. This course in MyToshika is designed by industry veterans with a goal to make the learners industry ready. Therefore, along with theory, 
            there are lots of examples and lab exercises for the students to apply their knowledge practically. <br /><br />The participants would get to develop a stand - alone application in Java which includes 
            problem definition, requirements analysis, system design, Java coding and testing. Learning the course doesn't have any prerequisite. The aim of the course is to make the participants 
            would be very strong on basics of Java language and its application as Object Oriented Programming Language (OOPs). Post the course, with this strong foundation in course the participants 
            can opt to do take up job and/or upgrade knowledge learning advanced Java technologies.</span>

        </div>
        
        <div id="#sixWeek" class='marginTopTwenty'>
          <p class="busniess_text">JAVA SIX WEEKS TRAINING PROGRAM</p>
          <p class="green_text">6 WEEKS FROM MYTOSHIKA IS A QUICK FIRE COURSE</p>
            <span style="line-height:18px;">Java is a very powerful object oriented programming language used world over for developing variety of applications. Students pursuing a 
            course on Java have plenty of career options such as take up job as Java programmer, proceed for Sun Java Certification exams and/or learn advanced Java technologies. <br /><br />
            JAVA IN 6 WEEKS from MyToshika is a quick fire course that includes all the basics and necessary concepts in Java. This course would give an insight on use of various technologies in 
            J2EE and use of Struts framework to unwind development in large scale projects. Students would get a window view of leveraging Java in the current scenario and also its future applications as well. 
            This training course is designed in line with curriculum used in colleges. <br /><br />The students can opt to continue with industrial training at MyToshika too. They would get an Industrial training 
            certificate on successful completion of training for academic records of the college. MyToshika has placement wing too which can help the students to get jobs. 
            Students pursuing courses at MyToshika not only learn the subject, moreover earn an experience certificate to get job assistance.</span>
        </div>
       
        <div id="#javaJ2ee" class='marginTopTwenty'>
            <p class="busniess_text">JAVA J2EE TRAINING  PROGRAM</p>
            <p class="green_text">TO BE THE BEST LEARN FROM THE BEST</p>
            <span style="line-height:18px;">Java is a very popular language for developing variety of applications. Java is platform independent and operation system independent. 
            It runs on browsers, desktop, servers and even on mobile devices. Students opting to study Java have very good career prospects in application programming and web developed. 
            They don't have to have prior programming knowledge to learn JAVA J2EE at MyToshika. <br /><br />At MyToshika, JAVA J2EE course starts from the very basic and covers the advanced concepts as well. 
            The students would learn to create desktop applications, use various technologies in J2EE, and use Struts and Servlet to make complicated networks simple and manageable. 
            JAVA J2EE at MyToshika makes the students job ready, conceptually and fundamentally strong in the language through hands on approach. 
            Students get plenty of exercises and projects to test and try all the concepts taught to them. This training creates a strong foundation for those wanting to take up 
            Sun Java Certified Web Component Developer examination (SJCWCD). <br /><br />All courses at MyToshika including JAVA are designed by subject experts and rendered by professionals 
            who have worked in the technology. Also, MyToshika as organization has carried out various projects on JAVA technology and thus has an edge over others offering the same course. 
            MyToshika knows what the industry expects from JAVA professionals and has structured the JAVA J2EE course with real time application requirements in mind. 
            Thus our students are equipped to be productive from the day 1 on the job.</span>
        </div>
        
        <div id="#springHibernate" class='marginTopTwenty'>
          <p class="busniess_text">JAVA SPRING and HIBERNATE TRAINING</p>
          <p class="green_text">SPRING MAKES DEVElOPMENT OF J2EE EASIER</p>
            <span style="line-height:18px;">HIBERNATE is a very powerful aspect of advanced JAVA which brings about the maps the Object Oriented features of JAVA with relational model. 
            This course at MyToshika would train you to design application using HIBERNATE concepts, learn and understand the use of important HIBERNATE capabilities, 
            its strengths and combine it with Spring Framework. Spring Framework is a type of application framework that can be used to create high performing, reusable code without any lock-in.<br /><br /> 
            Spring makes development of J2EE easier. Therefore those who have mastered J2EE should take up this course as next logical step. MyToshika does not make it mandatory to be through with J2EE 
            but knowledge would aid in better understanding of the concepts. This course is popular among those into developing JAVA application, architects, programmers, engineers, 
            managers and those into development or integration of complex enterprise-level Java applications.<br /><br />The JAVA HIBERNATE SPRING course at MyToshika gives the participant in-depth coverage and 
            lots of practical exercises to understand the technology and make the best use of it in real time situations. The course is designed by our experts who have mastered the technology. 
            The consultants teaching the courses have hands on experience on this technology. This spectacular combination ensures that the students are job ready when they pass out of the course.</span><br />
        </div>
       
       <div id="#javaAndroid" class='marginTopTwenty'>
          <p class="busniess_text">JAVA WITH ANDROID TRAINING PROGRAM</p>
          <p class="green_text">TO BE THE BEST LEARNING ANDROID TRAINING</p>
            <p style="line-height:18px;">Android applications are developed using the Java language. As of now, that really your only option for native applications. 
            Java is a very popular programming language developed by Sun Microsystems (now owned by Oracle). Developed long after C and C++, Java incorporates many of the powerful 
            features of those powerful languages while addressing some of their drawbacks. Still, programming languages are only as powerful as their libraries. These libraries exist to 
            help developers build applications. <br /><br />Our goal is to prepare those already familiar with one programming language, such as PHP or Objective-C, to become comfortable working with 
            the Java programming language and dive into Android APP development. There are a number of ways to create APPS for Android devices, but the recommended method for most developers 
            is to write native APPS using Java and the Android SDK. Java for Android APPS is both similar and quite different from other types of Java applications. <br /><br />If you have experience with Java 
            (or a similar language) then you will probably feel pretty comfortable diving right into the code and learning how to use the Android SDK to make your APP run. But if you are new to 
            programming or object-oriented languages then you will probably want to get familiar with the syntax of the Java language and how to accomplish basic programming tasks before learning 
            how to use the Android SDK.</p>
        </div>
        
       </div>
     </div>
</div>
