<div class="left_body_wrap">
      <div class="left_body_main">
        <div class="main_wrap">
            <p class="busniess_text">Welcome to our best java training center</p>
            <p style="line-height:18px;">We're the Best Java Training Center in Noida which covers each core Java and Advances java topics. </p>
            <p style="line-height:18px;">MyToshika offers Classroom Training, Industrial Training, Corporate Training and Oncampus Training on Java, J2EE, Struts, Spring, HIBERNATE, EJB, SOAP Services, Rest Services and AWS Cloud Services in DELHI/NCR, India.</p>
            
            <p class="green_text">Come as Student, Go as Java Developer!</p>
            
            <p style="line-height:18px;">MyToshika believes in offering java practical training with live project. MyToshika offers Industrial Training, Corporate Training and Oncampus Training on Java, J2EE, STRUTS, SPRING, HIBERNATE, EJB, SOAP Services, Rest Services and AWS Cloud Services in DELHI/NCR, India. 
            <br /><br />These training are conducted by expert trainers who are having more than 10+ yeas of experience in java development. We at MyToshika, believes that java practical training with live project help us to shape our students as best developer in IT industry so that our students may always start their career as a developer not as a fresher in IT Industry.</p>

       <p class="busniess_text">Join Our Training Program</p>
            
          <div class="watch_main_wrap">
            <div class="watch_wrap"><img src="images/pic1.jpg" alt="VOCATIONAL TRAINING" class='img-responsive' /></div>
            <div class="watch_wrap1">
              <p class="nulla">VOCATIONAL TRAINING:</p>
                <span style="line-height:18px;">We at, MyToshika offer the vocational training in a number of courses including Java, J2EE, STRUTS, SPRING and HINERNATE. All of these courses are offered in real time environment along with the practical knowledge of the subjects. The students can test their skills through the live projects.</span>
            </div>
          </div>
          <div class="watch_main_wrap">
            <div class="watch_wrap"><img src="images/pic2.jpg" alt="4-6 WEEKS TRAINING" class='img-responsive' /></div>
            <div class="watch_wrap1">
              <p class="nulla">4-6 WEEKS TRAINING:</p>
                <span style="line-height:18px;">During this training, the students are exposed to live projects, which are running in the college campus or offsite. The students can learn and implement them in real time environment.</span>
            </div>
          </div>
          <div class="watch_main_wrap">
            <div class="watch_wrap"><img src="images/pic3.jpg" alt="SIX MONTHS TRAINING" class='img-responsive' /></div>
            <div class="watch_wrap1">
              <p class="nulla">SIX MONTHS TRAINING:</p>
                <span style="line-height:18px;">If you opt for six-month training, the students are given the exposure to the live projects. Besides that, we impart knowledge in students in such a manner that they are capable of taking up interviews in an effective manner.</span>
            </div>
          </div>
          <div class="watch_main_wrap">
            <div class="watch_wrap"><img src="images/pic4.jpg" alt="LIVE PROJECT BASED TRAINING" class='img-responsive' /></div>
            <div class="watch_wrap1">
              <p class="nulla">LIVE PROJECT BASED TRAINING:</p>
                <span style="line-height:18px;">We also work as consulting agencies and offer live project training to our students where you can get all sorts of technical solutions. If you have made any application and everything is correct. 
                <br /><br />However, only one thing may create some problem, which is out of your knowledge, and you have already lot of time in debugging it but you did not get any satisfactory result so in this case, you can ask for the help from these consulting agencies and they will get you out of this.</span>
            </div>
          </div>

          <p class="busniess_text">Free Java Classes</p>
          <span style="line-height:18px;">MyToshika conducts free JAVA classes everyday for students preparing for Java Courses. These classes are conducted by trainer who are having more than 10+ yeas of experience in java development. 
          <br /><br />We at MyToshika, believes that java practical training with live project help us to shape them as best developer in IT industry so that our students always start their career as a developer not as a fresher in IT Industry.</span>
          

          <p class="busniess_text">Full Satisfaction</p>
          <p style="line-height:18px;">As per our internal or external survey, we have provided 99% satisfaction to our students in order to provide the effective java training to their career growth.</p>
          
        </div>
      </div>
</div>