<div class="left_body_wrap">
      <div class="left_body_main">
        <div class="main_wrap">

          <p class="busniess_text">INDUSTRIAL TRAINING AT MyToshika:</p>
            <p class="green_text">THE NEED FOR INDUSTRIAL TRAINING</p>
            <p style="line-height:18px;">Who says only the people who do not have much knowledge only needs extra assistance? I say, no. It is not necessary that the people that are not good
             with practical skills or lag somewhere in knowledge only needs people to help them because even the experts of industries needs people that can bring them out of the problems they face.
              So, who are these people that people even experts? These professional industrial training institutes and consultancies are always ready to help those who are in need.</p>


<div class="row">
                  <div class="col-md-12">
                      <div class="col-md-6">
                          <h2 class="green_text">Introduction to JAVA</h2>
                           <ul>
                          <li><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Basics of Object-Oriented Programming</li>
                            <li><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>The Evolution of Java</span></li>
                            <li><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Overview of Java</span></li>
                            <li><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Differences between C++ and Java</span></li>
                            <li><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Characteristics of Java</span></li>
                            <li><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Architecture</span></li>
                            <li><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Programming with Java</span></li>
                        </ul>
                        <h2 class="green_text">JAVA Basics with Classes Interfaces &amp; Packages</h2>
                           <ul>
                          <li><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Tokens</li>
                            <li><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Expressions</span></li>
                            <li><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Using Data Types</span></li>
                            <li><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i> Declarations, Control Flow</span></li>
                            <li><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i> Introduction to Classes</span></li>
                            <li><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Objects</span></li>
                            <li><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Packages</span></li>
                            <li><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Inheritance &amp; Interfaces</span></li>
                            </ul>
                            <h2 class="green_text">JAVA Streams Training</h2>
                           <ul>
                          <li><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Data Flow with Java Streams</li>
                            <li><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>I/P Streams &amp; O/P Streams</span></li>
                            </ul>
                            <h2 class="green_text">Exception Handling in JAVA</h2>
                            <ul>
                          <li><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Introduction to Exception Handling</li>
                            <li><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Exception Methodology</span></li>
                            <li><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i> java.lang Exceptions</span></li>
                            </ul>
                            <h2 class="green_text">JAVA Threads Training</h2>
                            <ul>
                          <li><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Introduction to Java Threads</li>
                            <li><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i> Creating Threads</span></li>
                            <li><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>The Life Cycle of a Thread</span></li>
                            <li><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Thread Methodology</span></li>
                            <li><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Synchronization of Threads</span></li>
                            </ul>
                            <h2 class="green_text">JAVA Applets Training</h2>
                            <ul>
                          <li><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>What is JAVA Applet</li>
                            <li><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Applet Class</span></li>
                            <li><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Stages of an Applet’s Life Cycle</span></li>
                            <li><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Methodology for Adding UI Components</span></li>
                            <li><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Drawing and Event Handling Methods</span></li>
                            </ul>
                            <h2 class="green_text">JAVA AWT Training</h2>
                            <ul>
                            <li><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Introduction</span></li>
                            <li><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Control Classes</span></li>
                            <li><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Variable Assignment</span></li>
                            <li><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Operators</span></li>
                            <li><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Objects</span></li>
                            <li><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Arrays</span></li>
                            <li><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Loops and Conditionals</span></li>
                            <li><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Class Definitions</span></li>
                            <li><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Method and Constructor Definitions</span></li>
                            <li><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Importing</span></li>
                            <li><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Guarding</span></li>
                            </ul>
                            <h2 style="margin-bottom:0">Advance Java Training</h2>
                            <h2 class="green_text">Servlet Overview Training</h2>
                            <ul>
                            <li><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Introduction to Servlet</span></li>
                            <li><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Basics of Web</span></li>
                            <li><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Servlet API</span></li>
                            <li><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Servlet Interface</span></li>
                            <li><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Generic Servlet</span></li>
                            <li><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Http Servlet</span></li>
                            <li><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Servlet Life Cycle</span></li>
                            <li><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Working with Apache Tomcat Server</span></li>
                            <li><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Steps to create a servlet in Tomcat</span></li>
                              <li><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>How servlet works?</span></li>
                            <li><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>servlet in Myeclipse</span></li>
                            <li><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>servlet in Eclipse servlet in Netbeans</span></li>
                            </ul>
                          <h2 class="green_text">Servlet Request &amp; Collaboration</h2>
                           <ul>
                          <li><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>ServletRequest methodology</li>
                            <li><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Request Dispatcher</span></li>
                            <li><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>send Redirect</span></li>
                        </ul>
                        <h2 class="green_text">Servlet Config &amp; ServletContext</h2>
                           <ul>
                          <li><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>ServletConfig methods &amp; examples</li>
                            <li><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i> ServletContext methods &amp; example</span></li>
                            </ul>
                            <h2 class="green_text">Session Tracking and Filter</h2>
                           <ul>
                          <li><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Cookies</li>
                            <li><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Hidden Form Field</span></li>
                            <li><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>URL Rewriting</span></li>
                            <li><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Http Session</span></li>
                            <li><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Filter</span></li>
                            <li><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Authentication Filter</span></li>
                            <li><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Filter Config</span></li>
                            </ul>
                             
                        </div>
                        
                        
                        
                        <div class="col-md-6">
                          <h2 class="green_text">JSP Course Training</h2>
                            <ul>
                          <li><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>JSP Fundamentals</li>
                            <li><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Scripting elements</span></li>
                            <li><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Implicit Objects</span></li>
                            <li><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Directive Elements &amp; Exception Handling Action Elements</span></li>
                            <li><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Expression Language</span></li>
                            <li><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>MVC in JSP</span></li>                            </ul>
                             <h2 class="green_text">JSTL Best Training</h2>
                            <ul>
                          <li><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Introduction to Custom Tag</li>
                            <li><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Custom Tag API</span></li>
                            <li><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Attributes</span></li>
                            <li><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Iteration</span></li>
                            <h2 class="green_text">JavaMail API Training</h2>
                            <ul>
                          <li><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Sending Email</li>
                            <li><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Sending email through Gmail server</span></li>
                            <li><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Receiving Email</span></li>
                            <li><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Sending HTML content</span></li>
                            </ul>
                            <h2 class="green_text">Design Pattern Training</h2>
                            <ul>
                          <li><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Singleton</li>
                            <li><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>DAO</span></li>
                            <li><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>DTO</span></li>
                            <li><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>MVC</span></li>
                            <li><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Front Controller Factory Method etc</span></li>
                            </ul>
                            <h2 class="green_text">JUnit and Maven</h2>
                            <ul>
                          <li><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Introduction to JUnit</li>
                            <li><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Types of Testing Annotations used in JUnit Assert class Test Cases</span></li>
                            <li><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Introduction to Maven</span></li>
                            <li><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Ant Vs Maven</span></li>
                            <li><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Maven installation</span></li>
                            <li><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Maven Repository</span></li>
                            <li><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Understanding pom.xml</span></li>
                            <li><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Maven Web App Example Maven using Eclipse</span></li>
                            </ul>
                            <h2 class="green_text">Struts2 Training</h2>
                            <ul>
                          <li><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Introduction to Struts2</li>
                            <li><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Model1 vs Model2</span></li>
                            <li><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Struts2 Features Steps to create Struts2 application</span></li>
                            <li><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Understanding Action class</span></li>
                            <li><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Understanding struts.xml file Struts2 in Eclipse IDE Struts2 in Myeclipse IDE</span></li>
                            <li><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Core Component &amp; Archirecture</span></li>
                            <li><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Action</span></li>
                            <li><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Configuration</span></li>
                            <li><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Interceptors</span></li>
                            <li><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Validation</span></li>
                            </ul>
                            <h2 class="green_text">IDE and Servers</h2>
                            <ul>
                          <li><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Introduction to IDE</li>
                            <li><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Eclipse IDE</span></li>
                            <li><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Netbeans IDE</span></li>
                            <li><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Myeclipse IDE</span></li>
                            </ul>
                            <h2 class="green_text">Servers Best Training</h2>
                            <ul>
                          <li><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Apache Tomcat</li>
                            <li><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Glassfish Server</span></li>
                            <li><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>JBoss Server</span></li>
                            <li><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Weblogic Server</span></li>
                            </ul>
                            <h2 class="green_text">JavaEE Training</h2>
                            <ul>
                          <li><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Introduction to JavaEE</li>
                            <li><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Requirments</span></li>
                            <li><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>JavaEE Architecture</span></li>
                            <li><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>1 tier ,2 tier ,3 tier ,N tier JavaEE Key Standards</span></li>
                            </ul>
                            <h2 class="green_text">Introduction to EJB3</h2>
                            <ul>
                          <li><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>The EJB Model</li>
                            <li><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Key Services of the Application Server</span></li>
                            </ul>
                            <h2 class="green_text">Developing Session Beans</h2>
                            <ul>
                          <li><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Stateless Session Beans</li>
                            <li><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Stateful Session Beans</span></li>
                            <li><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Packaging Writing Clients</span></li>
                            </ul>
                           <h2 class="green_text">Using Dependency Injection</h2>
                            <ul>
                          <li><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>No More JNDI</li>
                            <li><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Injection of EJBContext</span></li>
                            </ul>
                            <h2 class="green_text">JMS Practice Training</h2>
                            <ul>
                          <li><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>JMS Overview</li>
                            <li><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>JMS Messaging Domains</span></li>
                            <li><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Example of JMS using Queue</span></li>
                            <li><i class="fa fa-check-circle" style="padding:5px;font-size:16px;color:green"></i>Example of JMS using Topic</span></li>
                            </ul>
                        </ul></div>
                    </div>
                </div>
            
            
            
            <p style="line-height:18px;">These institutes and consultancies do not only provide the necessary training but they also provide the best solution to their clients. That is why, 
            they are so famous amongst the industrial sector because whether is the financial issue or something like technical problem they provide the best they can with the help of their experts 
            and mind it their experts are not saying experts but they are good at bugging and debugging things.</p>

            <p style="line-height:18px;">The people who do not need anyone help goes to them when are in technical problem because they know the answer which they will not get from anywhere will get it
             here and MyToshika is known for its services.</p>
             
            <p style="line-height:18px;"> Best Java Industrial training with 100% placement help. we are the best JAVA Industrial training 
            in  which covers both centers Java and boosts Java topics. We meet the industry demands and maximize the hazard of having placed with
             top groups. We additionally assist college students with 6 month live undertaking industrial training for MCA-Btech fresher in Noida, 
             which allows them to gain actual improvement expertise, competencies and face demanding situations. Our Java Industrial Training Center in Noida, the goal is to supply world elegance JAVA builders and assist them make 
             a better career choice.</p>

			<p style="line-height:18px;">We provide live project Java Industrial Training along with certification. We have JAVA trainers who are 
			the professional, having more than 10 plus years of publicity to development. We frequently behavior placement pressure at our institute to attract the first-class corporation.</p>
          
            </div>
          </div>
             
</div>

